<!DOCTYPE html>
<html>
  <head>
    <%- include("includes/head") %>
    <link rel="stylesheet" href="/css/specific.css" />
  </head>
  <body>
    <%- include("includes/nav") %>
    <h1 class="title"><%= title %></h1>
  </body>
</html>
