* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6rem;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

main {
  display: flex;
  /* flex-wrap: wrap; */
  padding: 20px;
  background-color: #f4f4f4;
}

.content {
  flex: 2;
  padding: 20px;
}

.sidebar {
  flex: 1;
  padding: 20px;
  background-color: #ddd;
  margin-left: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-direction: column;
  }

  .sidebar {
    margin-left: 0;
    margin-top: 20px;
  }
}
